.overall-vert {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.banner {
    box-sizing: border-box;
    position: relative;
    flex: 0 0 65px;
    width: 100%;
    /*background: rgb(173, 216, 230);*/
}

.logo {
    position: absolute;
    height: 50px;
    margin: 5px;
    left: 0;
    top: 0;
}

.login-div {
    position: absolute;
    width: 200px;
    height: 50px;
    margin: 5px;
    right: 0;
    top: 0;
    /*background: rgb(255, 208, 0);*/
}

.center {
    margin: auto;
    box-sizing: border-box;
    position: relative;
    flex: 1 0 auto;
    width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.ingr-panel {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 40%;
    left: 0;
    top: 0;
    /*background: rgba(24, 20, 255, 0.514);*/
}

.recipe-panel {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 60%;
    right: 0;
    top: 0;
    /*background: rgba(90, 190, 23, 0.514);*/
}

.center-divider {
    position: absolute;
    height: 85%;
    top: 7.5%;
    width: 5px;
    margin-left: -2.5px;
    left: 40%;
    border-radius: 2.5px;
    background: rgba(0, 0, 0, 0.315);
}
