html,
body,
#root {
  height: 100%;
  width: 100vw;
  overscroll-behavior: none;
}

/* ::-webkit-scrollbar { 
  display: none; 
} */

/* Fonts */
body {
  font-family: "Nunito Sans", sans-serif;
}

label {
  font-family: "Nunito Sans", sans-serif;
}

/* Forms */

.form-inline {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}

.form-inline label {
    margin: 5px 10px 5px 0;
}  

input[type=text] {
    padding: 5px 5px;
}

/* AppComponent */

.vert-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 300pt;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-size: cover;
  background-color: bisque;
}

.vert-container > div,
form {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.horiz-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* IngredientList */

.ingredient-grid {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.ingredient-box {
  user-select: none;
  background-color: lightgray;
  padding: 5pt;
  margin: 5px;
  border-radius: 10pt;
  max-width: fit-content;
}

.ingredient-grid > .ingredient-box {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

.ingredient-grid > .ingredient-box:hover {
  background-color: rgb(177, 175, 175);
  transition: 0.1s;
  cursor: pointer;
}

.ingredient-active {
  background-color: rgba(240, 128, 128, 0.644);
}

.ingredient-grid > .ingredient-active:hover {
  background-color: #eb5252be;
}

.x-button {
  user-select: none;
  background-color: #fff;
  margin-left: 5pt;
  height: 15pt;
  width: 15pt;
  border-radius: 50%;
  content: "x";
  color: black;
  border-style: solid;
  border-color: rgb(98, 93, 93);
  border-width: 2pt;
  font-family: Arial, sans-serif;
  font-weight: 1000;
  font-size: 12pt;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.x-button:hover {
  background-color: crimson;
  color: white;
  transition: 0.1s;
}

/* RecipeList */
.recipe-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  padding-right: 5px;
  overflow-y: scroll;
  width: 100%;
}

.recipe-box {
  box-sizing: border-box;
  background-color: white;
  padding: 50px 15px 15px 15px;
  width: 100%;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 20px;
}

.recipe-title-banner {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(230, 227, 227);
  border-style: solid;
  border-width: 2px;
  border-bottom-width: 4px;
  border-color: rgb(230, 227, 227);
}

.recipe-title {
  background-color: #e62424ab;
  color:rgb(29, 29, 29);
  max-width: fit-content;
  padding: 7px;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 25px;
  border-radius: 10px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 17px;
}

.recipe-ingr-list {
  display: flex;
  flex-direction: row;
  gap: 3px;
}